main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: var(--chat-textarea-background);
    padding: 5em;
    border-radius: 10%;
}

input {
    width: 90%;
    padding: 0.8em;
    border: 0;
    border-radius: 0.5em;
    margin: 0.5em 0;
    outline: none;
    font-size: 70%
}

label {
    font-size: 125%;
}

button {
    padding: 0.5em;
    font-size: 125%;
    background-color: var(--button-color-purple);
    color: white;
    outline: none;
    border: 0;
    border-radius: 0.3em;
    transition: background-color 0.6s, transform 0.6s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: var(--button-color-purple-selected);
}

.erro {
    color: red;
    padding: 0;
    margin: 0;
    font-size: 120%;
}